.games {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.category {
    width: 25%;
}

.gamelist {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .games {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .gamelist {
        flex: auto;
    }
}