.link {
    position: relative;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: inherit;
    border: 1px solid #695ED4;
    border-radius: 2rem;
    padding: 1rem 0;
    cursor: pointer;
    text-decoration: none;
}

.game_title {
    font-size: 2rem;
    font-weight: 600;
    color: #FBB034;
}

.icon_fav {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    margin: .5rem .7rem 0 0;
    cursor: pointer;
}

.icon_fav svg {
    font-size: 2.5rem;
    color: #FBB034;
}