.nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav ul a{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}